.logo {
  height: 32px;
  text-align: center;
  margin: 10px;
  color: white;
  font-size: 24px;

}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.navBar {
  margin-top: 24px;
  margin-left: 100px;
  margin-right: 21px;
  margin-bottom: 30px;
  overflow: 'initial'
}

.navBarAktif {
  margin-top: 24px;
  margin-left: 215px;
  margin-right: 21px;
  margin-bottom: 30px;
  overflow: 'initial'
}
